{% extends "base-with-wallpaper.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-recipelistpage{% endblock %}

{% block content %}
    <section class="relative mx-auto my-10 lg:my-16 p-4 max-w-2xl">
        <div class="relative space-y-4 z-10">
            <h1 class="text-3xl lg:text-5xl text-brand">Vegan Recipes</h1>
            <p class="font-sans text-lg lg:text-xl text-gray-700">
                If you equate eating vegan with sacrifice, think again! From flavor-packed savory sauces and toppings to
                artfully crafted specialty pizzas, these recipes are designed to get the creative juices flowing—and mouths
                watering. Thumb through our selection of vegan sides, mains and add-ons for endless inspiration.
            </p>
        </div>
        <div class="absolute inset-0 bg-gray-100 transform -skew-y-3 lg:-skew-x-6"></div>
        <img
            src="{% static 'images/pizza-slice.png' %}"
            alt="PizzaVegan Slice"
            class="absolute -top-12 -left-16 w-20 h-20 hidden lg:block"
        >
    </section>
    <main>
        <div class="container mx-auto grid grid-cols-1 px-6 md:grid-cols-2 md:gap-6 xl:grid-cols-3 xl:gap-8">
            {% for recipe in recipe_pages %}
                {% with recipe=recipe.specific %}
                    <div class="mb-10 rounded-lg shadow-md hover:shadow-xl transition-shadow"><!-- A CARD -->
                        <!-- CARD IMAGE -->
                        <a href="{% pageurl recipe %}">
                            {% image recipe.featured_image width-450 class="card__image" %}
                        </a>
                        <!-- CARD BODY -->
                        <div class="px-8 py-6">
                            <a href="{% pageurl recipe %}">
                                <h3 class="mb-3 text-2xl md:text-3xl">{{ recipe.title }}</h3>
                            </a>
                            <p class="mb-5 text-sm md:text-base font-sans text-gray-500">
                                Posted on {{ recipe.first_published_at|date:'F j, Y' }}
                            </p>
                            {% if recipe.provided_by %}
                                <p class="md:text-lg">Provided by {{ recipe.provided_by }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endwith %}
            {% empty %}
                <p>Sorry, there are no recipes at this time.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}