{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-recipepage{% endblock %}

{% block content %}
    <main class="post">
        <h1 class="responsive-heading">{{ page.title }}</h1>
        <p class="meta">Posted on {{ page.first_published_at|date:'F j, Y' }}</p>
        {% image page.featured_image width-1000 class="post__featured-image responsive-image" %}
        <div class="post__body">
            <div class="post__share-links">
                <a
                    href="https://www.facebook.com/sharer/sharer.php?display=page&u=https://pizzavegan.com{{ request.path }}"
                    target="_blank"
                >
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a
                    href="https://twitter.com/intent/tweet?text={{ page.title|urlencode }}&url=https://pizzavegan.com{{ request.path }}"
                    target="_blank"
                >
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a
                    href="https://pinterest.com/pin/create/button/?url=https://pizzavegan.com{{ request.path }}&description={{ page.title|urlencode }}"
                    target="_blank"
                >
                    <i class="fab fa-pinterest"></i>
                </a>
                <a
                    href="mailto:?subject={{ page.title }}&body=https://pizzavegan.com{{ request.path }}"
                    target="_blank"
                >
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="post__content">
                {% if page.provided_by %}
                    <p class="subtitle">Recipe provided by {{ page.provided_by }}</p>
                {% endif %}
                {{ page.body|richtext }}
                <p><a href="{{ page.get_parent.url }}">Return to recipes</a></p>
            </div>
        </div>
    </main>
{% endblock content %}
