{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-recipelistpage{% endblock %}

{% block content %}
    <main class="container my-5 px-5">
        <div class="row">
            <div class="col-12">
                <h1 class="font-italic">{{ page.title }}</h1>
                <hr>
            </div>
            {% for recipe in recipe_pages %}
                {% with recipe=recipe.specific %}
                    <article class="col-12 col-md-6 col-lg-4 d-flex flex-column mt-3 mb-5">
                        {% image recipe.specific.featured_image fill-500x250-c50 class="articles-list-image rounded" %}
                        <h3 class="articles-list-post-title mt-3">
                            <a href="{% pageurl recipe %}" class="text-success">
                                {{ recipe.title }}
                            </a>
                        </h3>
                        <p class="muted mt-1">Posted on {{ recipe.first_published_at|date:'F j, Y' }}</p>
                        {% if recipe.provided_by %}
                            <p>Provided by {{ recipe.provided_by }}</p>
                        {% endif %}
                        <a href="{% pageurl recipe %}" class="btn btn-outline-success btn-block mt-auto">
                            Read More
                        </a>
                    </article>
                {% endwith %}
            {% empty %}
                <p>Sorry, there are no recipes at this time.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}