{% extends "base-with-wallpaper.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-recipelistpage{% endblock %}

{% block content %}
    <div class="page-heading">
        <img src="{% static 'images/pizza-slice.png' %}" class="page-heading__image" alt="PizzaVegan Slice Logo">
        <h2 class="page-heading__title">Vegan Recipes</h2>
        <p class="page-heading__subtitle">
            If you equate eating vegan with sacrifice, think again! From flavor-packed savory sauces and toppings to
            artfully crafted specialty pizzas, these recipes are designed to get the creative juices flowing—and mouths
            watering. Thumb through our selection of vegan sides, mains and add-ons for endless inspiration.
        </p>
    </div>
    <main>
        <div class="post-grid">
            {% for recipe in recipe_pages %}
                {% with recipe=recipe.specific %}
                    <div class="card">
                        <a href="{% pageurl recipe %}">
                            {% image recipe.featured_image width-450 class="card__image" %}
                        </a>
                        <div class="card__body">
                            <a href="{% pageurl recipe %}">
                                <h3 class="card__title">{{ recipe.title }}</h3>
                            </a>
                            <p class="card__meta">Posted on {{ recipe.first_published_at|date:'F j, Y' }}</p>
                            {% if recipe.provided_by %}
                                <p class="card__subtitle">Provided by {{ recipe.provided_by }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endwith %}
            {% empty %}
                <p>Sorry, there are no recipes at this time.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}