{% extends 'base.html' %}
{% load static %}

{% block title %} | Pizzerias{% endblock title %}

{% block content %}
<main class="container-fluid my-4">
    <div class="row">
        <div class="d-none d-lg-block col-lg-5">
            <div id="pizzeria-list-map" class="position-sticky sticky-top sticky-offset"></div>
        </div>
        <div class="col-12 col-lg-7">
            <h1 class="font-italic">Vegan Pizzerias</h1>
            <hr>
            <div class="container-fluid d-flex flex-column bg-dark rounded p-4">
                {% if closest_pizzeria_dist %}
                    <p class="mb-4 text-light">
                        The nearest vegan pizzeria from your location is
                        <span class="font-weight-bold">{{ closest_pizzeria_dist }} miles.</span>
                    </p>
                {% endif %}
                <form action="{% url 'pizzerias:pizzeria_list' %}" id="searchZipCodeForm" class="form-inline">
                    <div class="form-group">
                        <label for="searchZipCode" class="text-light mr-sm-3">
                            Enter your ZIP code to find vegan pizza near you!
                        </label>
                        <input type="text" id="searchZipCode" class="form-control mx-sm-3" name="zip" placeholder="ZIP Code">
                        <button type="submit" id="searchZipCodeButton" class="btn btn-success">Search</button>
                    </div>
                </form>
                <p class="search-form-error hidden">Please enter a valid ZIP code.</p>
                {% if error %}
                    <p class="search-form-error">{{ error }}</p>
                {% endif %}
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
                {% for pizzeria in pizzeria_list %}
                    <div
                        class="col-12 col-md-6 col-lg-4 d-flex flex-column mt-3 mb-5 pizzeria-card"
                        data-lat="{{ pizzeria.latitude }}"
                        data-lng="{{ pizzeria.longitude }}"
                        data-title="{{ pizzeria.restaurant_name }}"
                        data-link="{% url 'pizzerias:pizzeria_detail' pizzeria.id %}"
                        data-image="{{ pizzeria.pizza_photo.url }}"
                    >
                        {% if pizzeria.pizza_photo %}
                            <img src="{{ pizzeria.pizza_photo.url }}" alt="{{ pizzeria.restaurant_name }}" class="articles-list-image rounded" />
                        {% else %}
                            <img src="{% static 'images/pizzavegan-color.png' %}" alt="{{ pizzeria.restaurant_name }}" class="articles-list-default-image rounded">
                        {% endif %}
                        <div class="pizzeria-card__body">
                            <h4 class="articles-list-post-title mt-3">
                                <a href="{% url 'pizzerias:pizzeria_detail' pizzeria.id %}" class="text-success">
                                    {{ pizzeria.restaurant_name }}
                                </a>
                            </h4>
                            <p>{{ pizzeria.vegan_pizza_type }}</p>
                            {% if pizzeria.dist_from_source %}
                                <p class="muted">
                                    Distance from {{ search_zip }}: {{ pizzeria.dist_from_source }} miles
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p>Sorry, there are no pizzerias listed at this time.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block extra_js %}
<script>
    function initMap() {
        const center = { lat: {{ map_center.lat }}, lng: {{ map_center.lng }} };
        const mapDiv = document.getElementById("pizzeria-list-map");
        const mapOptions = {
            zoom: 4,
            center: center
        };

        const map = new google.maps.Map(mapDiv, mapOptions);

        const pizzerias = document.querySelectorAll(".pizzeria-card");
        const markerArray = new Array();

        pizzerias.forEach((pizzeria, indx) => {
            const pizzeriaPosition = { lat: parseFloat(pizzeria.dataset.lat), lng: parseFloat(pizzeria.dataset.lng) };
            const title = pizzeria.dataset.title;
            const pizzeriaLink = pizzeria.dataset.link;
            const pizzeriaImage = pizzeria.dataset.image;

            const infoWindowText =
                `<div class="infowindow">` +
                `<a href="${pizzeriaLink}" class="primary-link infowindow-link">${title}</a>` +
                `</div>`;

            const infoWindow = new google.maps.InfoWindow({
                content: infoWindowText
            });

            const pizzeriaMarker = new google.maps.Marker({
                position: pizzeriaPosition,
                map: map,
                title: title
            });

            pizzeriaMarker.addListener("click", () => {
                infoWindow.open(map, pizzeriaMarker);
            })

            markerArray.push(pizzeriaMarker);
        });

        // Add marker for search location if not default value and set zoom level
        if (center['lat'] != 39.8283 && center['lng'] != -98.5795) {
            const searchLocationMarker = new google.maps.Marker({
                position: center,
                map: map,
                title: "Your search location"
            });
        }

        const clusterImagePath = "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m";

        const markerClusterer = new MarkerClusterer(map, markerArray, { imagePath: clusterImagePath });
    }
</script>
<script
    defer
    src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap">
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script>
    const zipCodeSearchForm = document.getElementById('searchZipCodeForm');
    const zipCodeSearchButton = document.getElementById('searchZipCodeButton');
    const zipCodeSearchError = document.querySelector('.search-form-error');

    zipCodeSearchButton.addEventListener('click', function(e) {
        const zipCodeInput = document.getElementById('searchZipCode').value;
        const isValidZip = /(^\d{5}$)|(^\d{5}-\d{4}$)/.test(zipCodeInput);

        if (!isValidZip) {
            e.preventDefault();
            zipCodeSearchError.classList.add('show');
        }
    });
</script>
{% endblock extra_js %}