{% extends 'base.html' %}
{% load static %}

{% block title %} | Pizzerias{% endblock title %}

{% block content %}
<main class="container-fluid my-4">
    <div class="row">
        <div class="d-none d-lg-block col-lg-5">
            <div id="pizzeria-list-map" class="position-sticky sticky-top sticky-offset"></div>
        </div>
        <div class="col-12 col-lg-7">
            <h1 class="font-italic">Vegan Pizzerias</h1>
            <hr>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
                {% for pizzeria in pizzeriasignupresponse_list %}
                    <div
                        class="col-12 col-md-6 col-lg-4 d-flex flex-column mt-3 mb-5 pizzeria-card"
                        data-lat="{{ pizzeria.latitude }}"
                        data-lng="{{ pizzeria.longitude }}"
                        data-title="{{ pizzeria.restaurant_name }}"
                    >
                        {% if pizzeria.pizza_photo %}
                            <img src="{{ pizzeria.pizza_photo.url }}" alt="{{ pizzeria.restaurant_name }}" class="articles-list-image rounded" />
                        {% else %}
                            <img src="{% static 'images/pizzavegan-color.png' %}" alt="{{ pizzeria.restaurant_name }}" class="articles-list-default-image rounded">
                        {% endif %}
                        <div class="pizzeria-card__body">
                            <h4 class="articles-list-post-title mt-3">
                                <a href="{% url 'pizzerias:pizzeria_detail' pizzeria.id %}" class="text-success">
                                    {{ pizzeria.restaurant_name }}
                                </a>
                            </h4>
                            <p>{{ pizzeria.vegan_pizza_type }}</p>
                            <a href="{% url 'pizzerias:pizzeria_detail' pizzeria.id %}" class="btn btn-outline-success btn-block mt-auto">
                                View Page
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <p>Sorry, there are no pizzerias listed at this time.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block extra_js %}
<script>
    function initMap() {
        const usCenter = { lat: 39.8283, lng: -98.5795 };
        const mapDiv = document.getElementById("pizzeria-list-map");
        const mapOptions = {
            zoom: 4,
            center: usCenter
        };

        const map = new google.maps.Map(mapDiv, mapOptions);

        const pizzerias = document.querySelectorAll(".pizzeria-card");
        const markerArray = new Array();

        pizzerias.forEach((pizzeria, indx) => {
            const pizzeriaPosition = { lat: parseFloat(pizzeria.dataset.lat), lng: parseFloat(pizzeria.dataset.lng) };
            const title = pizzeria.dataset.title;

            const pizzeriaMarker = new google.maps.Marker({
                position: pizzeriaPosition,
                map: map,
                title: title
            });

            markerArray.push(pizzeriaMarker);
        });

        const clusterImagePath = "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m";

        const markerClusterer = new MarkerClusterer(map, markerArray, { imagePath: clusterImagePath });
    }
</script>
<script
    defer
    src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap">
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
{% endblock extra_js %}