{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/pizzavegan.css' %}">
{% endblock extra_css %}

{% block content %}
    <main class="container-fluid my-5 px-5">
        <div class="row justify-content-center">
            <article class="col-10 col-md-7 col-lg-5">
                {% if pizzeria.pizza_photo %}
                    <div class="article-header-image mb-4 shadow">
                        <img src="{{ pizzeria.pizza_photo.url }}" class="rounded" />
                    </div>
                {% endif %}
                <div class="article-title mb-4 border-bottom">
                    <h2 class="text-success display-4 font-weight-bold">{{ pizzeria.restaurant_name }}</h2>
                    <p class="lead h5">{{ pizzeria.vegan_pizza_type }}</p>
                </div>
                <div class="article-body">
                    <div class="my-3">
                        <p>{{ pizzeria.menu_description }}</p>
                        {% if pizzeria.facebook_page %}
                        <p>
                            Find {{ pizzeria.restaurant_name }} <a href="{{ pizzeria.facebook_page }}" class="text-success">on Facebook!</a>
                        </p>
                        {% endif %}
                        {% if pizzeria.online_ordering_link %}
                        <p>
                            <a href="{{ pizzeria.online_ordering_link }}" class="text-success">Order a pizza</a> from {{ pizzeria.restaurant_name }}!
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div id="pizzeria-map"></div>
            </article>
        </div>
    </main>
{% endblock content %}

{% block extra_js %}
<script>
    function initMap() {
        const pizzeriaLatitude = {{ pizzeria.latitude }};
        const pizzeriaLongitude = {{ pizzeria.longitude }};
        const pizzeriaName = "{{ pizzeria.restaurant_name }}";

        const listingPosition = { lat: pizzeriaLatitude, lng: pizzeriaLongitude };
        const mapCenter = listingPosition;

        const mapDiv = document.getElementById('pizzeria-map');
        const mapOptions = {
            zoom: 13,
            center: mapCenter
        };
        const map = new google.maps.Map(mapDiv, mapOptions);

        const pizzeriaMarker = new google.maps.Marker({
            position: listingPosition,
            map: map,
            title: pizzeriaName
        });
    }
</script>
<script
    defer
    src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap">
</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/pizzavegan.js' %}"></script>

{% endblock extra_js %}