{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-articlelistpage{% endblock %}

{% block content %}
    <section class="relative mx-auto my-10 lg:my-16 p-4 max-w-2xl">
        <div class="relative space-y-4 z-10">
            <h1 class="text-3xl lg:text-5xl text-brand">PizzaVegan Articles</h1>
            <p class="font-sans text-lg lg:text-xl text-gray-700">Are you a pizzeria owner looking to better cater to the vegan crowd? Or a vegan pizza lover
                who wants to connect with a like-minded community? Here, we gather helpful articles for those
                on both sides of the aisle, as well as those who are considering or testing out the vegan
                lifestyle. Welcome to our community, where vegans and pizza lovers unite!
            </p>
        </div>
        <div class="absolute inset-0 bg-gray-100 transform -skew-y-3 lg:-skew-x-6"></div>
        <img
            src="{% static 'images/pizza-slice.png' %}"
            alt="PizzaVegan Slice"
            class="absolute -top-12 -left-16 w-20 h-20 hidden lg:block"
        >
    </section>

    <div class="flex justify-center mb-6">
        <broadstreet-zone zone-id="83144"></broadstreet-zone>
    </div>

    <main class="container mx-auto grid grid-cols-1 px-6 md:grid-cols-2 md:gap-6 xl:grid-cols-3 xl:gap-8">
        {% for article in article_pages %}
            {% with article=article.specific %}
                <div class="mb-10 rounded shadow-md hover:shadow-xl transition-shadow"><!-- A CARD -->
                    <!-- CARD IMAGE -->
                    <a href="{% pageurl article %}">
                        {% image article.featured_image width-450 class="card__image" %}
                    </a>
                    <!-- CARD BODY -->
                    <div class="px-8 py-6">
                        <a href="{% pageurl article %}">
                            <h3 class="mb-3 text-2xl md:text-3xl">{{ article.title }}</h3>
                        </a>
                        <p class="mb-5 text-sm md:text-base font-sans text-gray-500">
                            Posted on {{ article.first_published_at|date:'F j, Y' }}
                        </p>
                        <p class="md:text-lg">
                            {{ article.subtitle }}
                        </p>
                    </div>
                </div>
            {% endwith %}
        {% empty %}
            <p>Sorry, there are no articles at this time.</p>
        {% endfor %}
    </main>
    {% if article_pages.has_other_pages %}
        <div class="container mx-auto mb-8 flex justify-end">
                {% if article_pages.has_previous %}
                    <a 
                        href="?page={{ article_pages.previous_page_number }}"
                        class="grid place-items-center mr-2 w-10 h-10 rounded-full transition d-200 
                            hover:bg-coolgray-300 focus:outline-none focus:bg-coolgray-400"
                    >
                        <i class="fas fa-angle-left text-2xl text-coolgray-700"></i>
                    </a>
                {% endif %}
                {% for pg in article_pages.paginator.page_range %}
                    {% if pg >= article_pages.number|add:'-4' and pg <= article_pages.number|add:4 %}
                        {% if article_pages.number == pg %}
                            <span class="grid place-items-center mr-2 w-10 h-10 rounded-full bg-brand-dark text-coolgray-300">
                                {{ pg }} <span class="sr-only">(Current)</span>
                            </span>
                        {% else %}
                            <a 
                                href="?page={{ pg }}"
                                class="grid place-items-center mr-2 w-10 h-10 rounded-full transition d-200 text-coolgray-700
                                hover:bg-coolgray-300 focus:outline-none focus:bg-coolgray-400"
                            >
                                {{ pg }}
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if article_pages.has_next %}
                    <a 
                        href="?page={{ article_pages.next_page_number }}"
                        class="grid place-items-center mr-2 w-10 h-10 rounded-full transition d-200 
                            hover:bg-coolgray-300 focus:outline-none focus:bg-coolgray-400"
                    >
                        <i class="fas fa-angle-right text-2xl text-coolgray-700"></i>
                    </a>
                {% endif %}
        </div>
    {% endif %}
{% endblock %}