{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <main class="container-fluid my-5 px-5">
        <div class="row justify-content-center">
            <article class="col-12 col-md-7 col-lg-5">
                <div class="article-header-image mb-4 shadow">
                    {% image page.featured_image scale-100 class="rounded" %}
                </div>
                <div class="article-title mb-4 border-bottom">
                    <h2 class="text-success display-4 font-weight-bold">{{ page.title }}</h2>
                    <p class="lead h5">{{ page.subtitle }}</p>
                    <p class="muted">Posted on {{ page.first_published_at|date:'F j, Y' }}</p>
                </div>
                <div class="article-body">
                    <div class="my-3">
                        {{ page.body|richtext }}
                    </div>
                </div>
                <p><a href="{{ page.get_parent.url }}" class="primary-link">Return to articles</a></p>
            </article>
        </div>
    </main>
{% endblock %}