{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/pizzavegan.css' %}">
{% endblock extra_css %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <main class="post">
        <h1 class="responsive-heading">{{ page.title }}</h1>
        <p class="subtitle">{{ page.subtitle }}</p>
        <p class="meta">Posted on {{ page.first_published_at|date:'F j, Y' }}</p>
{#        <p class="badge">Food</p>#}
        {% image page.featured_image width-1000 class="post__featured-image responsive-image" %}
        <div class="leaderboard-ad mb-4">
            <broadstreet-zone zone-id="83144"></broadstreet-zone>
        </div>
        <div class="post__body">
            <div class="post__share-links">
                <a
                    href="https://www.facebook.com/sharer/sharer.php?display=page&u=https://pizzavegan.com{{ request.path }}"
                    target="_blank"
                >
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a
                    href="https://twitter.com/intent/tweet?text={{ page.title|urlencode }}&url=https://pizzavegan.com{{ request.path }}"
                    target="_blank"
                >
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a
                    href="https://pinterest.com/pin/create/button/?url=https://pizzavegan.com{{ request.path }}&description={{ page.title|urlencode }}"
                    target="_blank"
                >
                    <i class="fab fa-pinterest"></i>
                </a>
                <a
                    href="mailto:?subject={{ page.title }}&body=https://pizzavegan.com{{ request.path }}"
                    target="_blank"
                >
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <div class="post__content">
                {{ page.body|richtext }}
                <p><a href="{{ page.get_parent.url }}">Return to articles</a></p>
            </div>
        </div>
    </main>
{% endblock %}
