{% extends 'base.html' %}
{% load static %}

{% block title %} | About{% endblock title %}

{% block content %}
    <main class="container-fluid my-5 px-5">
        <div class="row justify-content-center">
            <div class="col-10 col-md-7 col-lg-5">
                <h2 class="responsive-header primary-text">About PizzaVegan.com</h2>
                <hr>
                <p>
                    PizzaVegan.com is designed to connect the ever-growing vegan consumer community with pizzerias that
                    are offering vegan-friendly menu items&mdash;and to encourage consumers and pizzeria owners alike
                    to expand their vegan knowledge via recipes, profiles, products, informative articles and more.
                </p>
                <p>
                    Vegan diets have gained incredible traction in recent years, and experts say this movement is no
                    mere fad or trend. It reflects a true shift in eating habits that will continue to grow in the
                    future. For example, according to a 2020 poll of 2,000 adults by OnePoll, 39% of people ages 18 to
                    25, and 23% of people ages 26 to 41, already exclude animal products from their diets. Other studies
                    show that even meat eaters are adding in more plant-based meals and embracing the flexitarian
                    lifestyle.
                </p>
                <p>
                    Whether their goals are planetary sustainability, improved health or protecting the animal
                    population, more consumers are seeking vegan options in restaurants around the country and
                    world&mdash;including, of course, within Americans’ favorite food category: pizza.
                </p>
                <p>
                    Explore PizzaVegan.com and reap the benefits. Learn more about vegan diets, discover new vegan
                    products and vegan pizza recipes, and check out the trailblazers who are changing the face of
                    veganism from niche to mainstream.
                </p>
                <p>
                    If you’re a pizzeria owner, register your pizzeria with us to highlight your vegan-friendly menu
                    items. If you’re a consumer, refer to our directory to find vegan-friendly pizzerias in your area.
                    We welcome you all to the world’s largest vegan pizza community on the web!
                </p>
                <p>
                    Do you want to be featured on PizzaVegan.com? Have a suggestion or question for our editor? Reach
                    out to us at tracy@pizzavegan.com.
                </p>
            </div>
        </div>
    </main>
{% endblock content %}