{% extends 'base.html' %}
{% load static %}

{% block title %} | About{% endblock title %}

{% block content %}
    <section class="hero py-16 lg:py-24">
        <div class="container mx-auto px-6 md:px-0">
            <h2 class="hero__heading text-yellow-50 font-sans tracking-tight">About PizzaVegan</h2>
        </div>
    </section>

    <main class="max-w-none">
        <section class="mx-auto px-6 max-w-5xl my-10 prose prose-brand md:prose-lg lg:prose-xl lg:px-0">
            <h2>Why PizzaVegan?</h2>
            <p>
                PizzaVegan.com is designed to connect the ever-growing vegan consumer community with pizzerias that
                are offering vegan-friendly menu items&mdash;and to encourage consumers and pizzeria owners alike
                to expand their vegan knowledge via recipes, profiles, products, informative articles and more.
            </p>
            <p>
                Vegan diets have gained incredible traction in recent years, and experts say this movement is no
                mere fad or trend. It reflects a true shift in eating habits that will continue to grow in the
                future. For example, according to a 2020 poll of 2,000 adults by OnePoll, 39% of people ages 18 to
                25, and 23% of people ages 26 to 41, already exclude animal products from their diets. Other studies
                show that even meat eaters are adding in more plant-based meals and embracing the flexitarian
                lifestyle.
            </p>
            <p>
                Whether their goals are planetary sustainability, improved health or protecting the animal
                population, more consumers are seeking vegan options in restaurants around the country and
                world&mdash;including, of course, within Americans’ favorite food category: pizza.
            </p>
            <p>
                Explore PizzaVegan.com and reap the benefits. Learn more about vegan diets, discover new vegan
                products and vegan pizza recipes, and check out the trailblazers who are changing the face of
                veganism from niche to mainstream.
            </p>
            <p>
                If you’re a pizzeria owner, register your pizzeria with us to highlight your vegan-friendly menu
                items. If you’re a consumer, refer to our directory to find vegan-friendly pizzerias in your area.
                We welcome you all to the world’s largest vegan pizza community on the web!
            </p>
            <p>
                Do you want to be featured on PizzaVegan.com? Have a suggestion or question for our editor? Reach
                out to us at tracy@pizzavegan.com.
            </p>
        </section>
        <section class="px-6 py-4 lg:px-0 lg:py-0 bg-gray-100">
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-10">
                <div class="mx-auto lg:px-6 lg:py-8 prose prose-brand order-2 lg:order-1 md:prose-lg lg:prose-xl">
                    <h2>Meet the Editor</h2>
                    <p>
                        Tracy Morin joined PMQ Pizza Magazine as senior copy editor in 2008 and has since traveled the
                        world to meet with some of the industry's most dedicated and accomplished pizzeria owners, chefs
                        and employees. As a longtime magazine writer and editor, Morin is a regular contributor of PMQ
                        feature articles on food and beverage, equipment, marketing and more. She also writes the monthly
                        column <a href="http://pizzahalloffame.com/" class="text-success" target="_blank">Pizza Hall of
                        Fame</a>, which profiles historic pizzerias and received the National Award of Excellence from the
                        American Society of Business Publication Editors in 2011.
                    </p>
                    <p>
                        In addition to her passion for pizza, Morin brings a firsthand understanding of alternative diets
                        to the PizzaVegan.com community. A vegetarian since 1995, she has welcomed the booming growth of
                        cruelty-free foods in recent years&mdash;and the ever-growing number of consumers who crave them.
                        In her position as editor of PizzaVegan.com, she relishes the opportunity to oversee a thriving
                        community of vegan pizza lovers and the enterprising pizzeria owners who are successfully catering
                        to this burgeoning market.
                    </p>
                </div>
                <div class="order-1 lg:order-2">
                    <img src="{% static 'images/tracy.jpg' %}" alt="Tracy Morin" class="w-full h-full object-cover object-center" />
                </div>
            </div>
        </section>
    </main>
{% endblock content %}