{% extends 'base.html' %}
{% load static %}

{% block title %} | Contact Us{% endblock title %}

{% block content %}
    <main class="lg:min-h-screen lg:grid lg:grid-cols-2">
        <div class="">
            <img
                src="{% static 'images/pizza2-1400px.jpeg' %}"
                alt="Contact Us"
                class="w-full h-44 sm:h-72 lg:h-full object-cover object-center"
            >
        </div>
        <div class="px-6 md:px-10 lg:px-12 py-8 lg:flex lg:flex-col lg:justify-center">
            <p class="font-sans font-extralight text-lg md:text-xl lg:text-2xl">Have a message for the PizzaVegan staff?</p>
            <p class="font-sans font-extrabold text-xl md:text-2xl lg:text-3xl md:mt-2">Fill out the form below!</p>
            <form method="post" class="flex flex-col my-5">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        <label for="{{ field.auto_id }}" class="font-sans text-gray-600">{{ field.label }}</label>
                        {{ field }}
                    </p>
                {% endfor %}
                <button
                    type="submit"
                    class="btn bg-brand w-max mt-4 hover:bg-brand-dark focus:ring-2 focus:ring-offset-2 focus:ring-brand-light"
                >
                    Submit
                </button>
            </form>
        </div>
    </main>
{% endblock content %}