{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %} | Contact Us{% endblock title %}

{% block extra_css %}
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/pizzavegan.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="page-banner">
        <div class="container">
            <h2 class="responsive-header text-white">Contact Us</h2>
        </div>
    </div>

    <div class="container-fluid my-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7 col-xl-5">
                {% include 'partials/_alerts.html' %}
                <p class="lead">
                    Do you have a message for the PizzaVegan.com staff? Fill out the form below!
                </p>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-success btn-block mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/pizzavegan.js' %}"></script>
{% endblock extra_js %}