{% extends 'base-with-wallpaper.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <section class="hero py-16 lg:py-24">
        <div class="container mx-auto px-6">
            <h2 class="hero__heading mb-6 md:mb-10 text-yellow-50 font-sans tracking-tight">Pizza Vegan Community</h2>
            <p class="hero__subtitle text-yellow-50">Vegan pizza at your fingertips&mdash;literally!</p>
        </div>
    </section>

    <main class="container mx-auto my-8 flex flex-col items-center xl:flex-row xl:items-start xl:space-x-12 px-6 xl:px-10"><!-- THE MAIN BODY -->
        <section class="xl:mb-4 xl:w-2/3"><!-- THE LATEST ARTICLES -->
            <h2 class="mb-10 text-3xl md:text-5xl border-b-2 border-gray-300">Our Latest Articles</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6"><!-- THE GRID -->
                {% for article in articles_list %}
                    <div class="mb-10 rounded shadow-md hover:shadow-xl transition-shadow"><!-- A CARD -->
                        <!-- CARD IMAGE -->
                        <a href="{% pageurl article %}">
                            {% image article.featured_image width-450 class="card__image" %}
                        </a>
                        <!-- CARD BODY -->
                        <div class="px-8 py-6">
                            <!-- CARD TITLE -->
                            <a href="{% pageurl article %}" class="">
                                <h3 class="mb-3 text-2xl md:text-3xl">{{ article.title }}</h3>
                            </a>
                            <!-- DATE POSTED -->
                            <p class="mb-5 text-sm md:text-base font-sans text-gray-500">
                                Posted on {{ article.first_published_at|date:'F j, Y' }}
                            </p>
                            <!-- EXCERPT -->
                            <p class="md:text-lg">{{ article.subtitle }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>There are currently no articles available.</p>
                {% endfor %}
            </div>
            <div class="pr-3 flex justify-end">
                <a href="/articles/" class="font-sans text-gray-700 uppercase hover:text-brand duration-300">More Articles</a>
                <span class="text-brand">&nbsp;&rarr;</span>
            </div>
        </section>

        
    </main>
{% endblock content %}

{% block extra_js %}
    <script>
        
    </script>
{% endblock extra_js %}