{% extends 'base.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="page-banner">
    <div class="container">
        <h2 class="responsive-header text-white">Pizza Vegan Community</h2>
        <p class="lead responsive-lead text-white">Vegan pizza at your fingertips&mdash;literally!</p>
    </div>
</div>

<div class="container my-4">
    <div class="leaderboard-ad">
        <a href="https://oddlygood.net/">
            <img src="{% static 'images/oddly-good-vegan-cheese.jpg' %}" alt="Ceresota Leaderboard">
        </a>
    </div>
    <h2 class="font-italic border-bottom mt-5 pb-2">Recent PizzaVegan Articles</h2>
    <div class="row">
        {% for article in articles_list %}
            <article class="col-12 col-md-6 col-lg-4 d-flex flex-column mt-3 mb-5">
                {% image article.specific.featured_image scale-100 class="articles-list-image rounded" %}
                <h4 class="articles-list-post-title mt-3">
                    <a href="{% pageurl article %}" class="text-success">
                        {{ article.title }}
                    </a>
                </h4>
                <p class="muted mt-1">Posted on {{ article.first_published_at|date:'F j, Y' }}</p>
                <p>{{ article.specific.subtitle }}</p>
                <a href="{% pageurl article %}" class="btn btn-outline-success btn-block mt-auto">
                    Read More
                </a>
            </article>
        {% endfor %}
    </div>
</div>

<div class="container-fluid bg-dark d-flex flex-column justify-content-center align-items-center py-5">
    <form action="{% url 'pizzerias:pizzeria_list' %}" id="searchZipCodeForm" class="form-inline">
        <div class="form-group">
            <label for="searchZipCode" class="text-light mx-sm-3">
                Enter your ZIP code to find vegan pizza near you!
            </label>
            <input type="text" id="searchZipCode" class="form-control mx-sm-3" name="zip" placeholder="ZIP Code">
            <button type="submit" id="searchZipCodeButton" class="btn btn-success">Search</button>
        </div>
    </form>
    <p class="search-form-error hidden">Please enter a valid ZIP code.</p>
</div>

{% endblock content %}

{% block extra_js %}
    <script>
        const zipCodeSearchForm = document.getElementById('searchZipCodeForm');
        const zipCodeSearchButton = document.getElementById('searchZipCodeButton');
        const zipCodeSearchError = document.querySelector('.search-form-error');

        zipCodeSearchButton.addEventListener('click', function(e) {
            const zipCodeInput = document.getElementById('searchZipCode').value;
            const isValidZip = /(^\d{5}$)|(^\d{5}-\d{4}$)/.test(zipCodeInput);

            if (!isValidZip) {
                e.preventDefault();
                zipCodeSearchError.classList.add('show');
            }
        });
    </script>
{% endblock extra_js %}