{% extends 'base-with-wallpaper.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/pizzavegan.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="page-banner">
    <div class="container">
        <h2 class="responsive-header text-white">Pizza Vegan Community</h2>
        <p class="lead responsive-lead text-white">Vegan pizza at your fingertips&mdash;literally!</p>
    </div>
</div>

<div class="container my-4">
{#    <div class="leaderboard-ad">#}
{#        <broadstreet-zone zone-id="83144"></broadstreet-zone>#}
{#    </div>#}
    <h2 class="border-bottom mt-5 pb-2">Recent PizzaVegan Articles</h2>
    <div class="post-grid">
        {% for article in articles_list %}
            {% with article=article.specific %}
                <div class="card">
                    <a href="{% pageurl article %}">
                        {% image article.featured_image width-450 class="card__image" %}
                    </a>
                    <div class="card__body">
                        <a href="{% pageurl article %}">
                            <h3 class="card__title">{{ article.title }}</h3>
                        </a>
                        <p class="card__meta">Posted on {{ article.first_published_at|date:'F j, Y' }}</p>
                        <p class="card__subtitle">{{ article.subtitle }}</p>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
</div>

<div class="container-fluid bg-dark d-flex flex-column justify-content-center align-items-center py-5">
    <form action="{% url 'pizzerias:pizzeria_list' %}" id="searchZipCodeForm" class="form-inline">
        <div class="form-group">
            <label for="searchZipCode" class="text-light mx-sm-3">
                Enter your ZIP code to find vegan pizza near you!
            </label>
            <input type="text" id="searchZipCode" class="form-control mx-sm-3" name="zip" placeholder="ZIP Code">
            <button type="submit" id="searchZipCodeButton" class="btn btn-success">Search</button>
        </div>
    </form>
    <p class="search-form-error hidden">Please enter a valid ZIP code.</p>
</div>

{% endblock content %}

{% block extra_js %}
    <script>
        const zipCodeSearchForm = document.getElementById('searchZipCodeForm');
        const zipCodeSearchButton = document.getElementById('searchZipCodeButton');
        const zipCodeSearchError = document.querySelector('.search-form-error');

        zipCodeSearchButton.addEventListener('click', function(e) {
            const zipCodeInput = document.getElementById('searchZipCode').value;
            const isValidZip = /(^\d{5}$)|(^\d{5}-\d{4}$)/.test(zipCodeInput);

            if (!isValidZip) {
                e.preventDefault();
                zipCodeSearchError.classList.add('show');
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/pizzavegan.js' %}"></script>
{% endblock extra_js %}