{% extends 'base.html' %}
{% load static %}

{% block title %} | Privacy Policy{% endblock title %}

{% block content %}
<main class="mx-auto my-10 px-5 md:px-0 max-w-3xl prose">
    <h1>Privacy Policy</h1>
    <p>
        PizzaVegan (“PizzaVegan”) values your trust and confidence and is committed to protecting your privacy. 
        This PizzaVegan Privacy Policy describes the privacy practices of PizzaVegan and applies to data collected 
        by PizzaVegan through the www.pizzavegan.com domain name (the "Website”), as well as through PizzaVegan’s 
        proprietary software and information and any other such service provided by PizzaVegan (collectively the “Service”).
    </p>
    <p>
        Below you can find detailed information on when and why we collect personal information, how we use it and the 
        limited conditions under which we may disclose it to others. Specifically, the information below how we handle the 
        personal information, information that can be used to contact or identify a natural person (“Personal Information”), 
        gathered by the Services.
    </p>
    <p>
        Please read all information as provided below. PizzaVegan welcomes any questions or comments you may have regarding 
        this Privacy Policy or if you do not understand any information about how we collect, maintain, use or disclose 
        Personal Information. Any such questions or comments, or if more information regarding any item not listed below is 
        needed, should be submitted via email to tracy@pmq.com. We will make every effort to resolve or answer your concern.
    </p>
    <h2>Accessing Your Personal Information</h2>
    <p>
        You may view or edit your Personal Information and preferences by visiting the Website and logging into your 
        PizzaVegan Account (the “PizzaVegan Account”) online. From your PizzaVegan Account, you can choose to receive 
        or stop the delivery of future newsletters, promotional e-mail, and surveys from PizzaVegan.
    </p>
    <p>
        Please note that this does not apply to the display of online advertising, nor does this apply to the receipt 
        of mandatory service communications that are considered part of the Services, which you may receive periodically 
        unless you cancel your PizzaVegan Account.
    </p>
    <h2>Collection of Your Personal Information</h2>
    <p>
        When you open a user account with PizzaVegan, we ask you to provide certain Personal Information, such as your 
        name, e-mail address, home or work address, and/or telephone number. We may also collect general demographic 
        information, such as your age, gender, ZIP code, preferences, and interests. We may also collect information about 
        your visit to the Website, such as pages viewed, links clicked and other similar navigation action in connection 
        with the Website.
    </p>
    <p>
        When you receive promotional e-mails or newsletters from PizzaVegan, we may use customized links or similar 
        technologies to determine whether such newsletters or e-mail has been opened and which links you click. This 
        information is used to provide you more focused e-mail communications and/or other information.
    </p>
    <h2>Personal Information that is Automatically Collected</h2>
    <p>
        In addition to Personal Information you provide to us, PizzaVegan may receive and store certain types of 
        information whenever you interact with our websites or services. PizzaVegan may choose to automatically receive 
        and record information on our server logs from your browser including your IP address, PizzaVegan cookie information, 
        and the page you requested.
    </p>
    <p>
        Generally, our service may automatically collect usage information, such as the numbers and frequency of visitors 
        to our websites and its components. We generally only use this data in aggregate form, that is, as a statistical 
        measure, and not in a manner that would identify you personally. PizzaVegan may additionally automatically collect 
        information about your visit to our website, such as pages viewed, links clicked, and other similar navigation action 
        in connection with the website. Most Web browsers accept cookies, and if your browser accepts cookies, PizzaVegan may 
        automatically collect individualized information regarding your visits to the PizzaVegan website (“Individual Usage 
        Information”) to provide you with a more personalized user experience. As part of this use of information, we may provide 
        aggregate information to our partners about how our users, collectively, use our websites. If you do not wish to have your 
        Individual Usage Information collected, please see the “Use of Cookies” section below for further information.
    </p>
    <h2>Use of Cookies</h2>
    <p>
        PizzaVegan use of cookies is only for more accurate traffic analysis. PizzaVegan cookies do not collect Personal 
        Information. However, we may combine the general information collected through cookies with other Personal Information 
        in connection with our collection of Individual Site Usage Information (as described above). If you do not wish to have 
        your Individual Site Usage Information collected, most browsers have an option for turning off the cookie feature, which 
        will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) 
        allowing you to decide on acceptance of each new cookie in a variety of ways. However, if you choose to decline cookies, 
        you may not be able use the services of PizzaVegan.
    </p>
    <p>
        From time to time, PizzaVegan may contain advertisements, references, and links to other websites and organizations, 
        and may also use third parties to display or serve advertising on our site. PizzaVegan has no access to or control over 
        cookies of these links to other websites and organizations, nor does PizzaVegan have control over or access to cookies 
        by PizzaVegan’ third-party partners or advertisers. This Privacy Policy does not cover any use of Personal Information 
        that a third-party advertiser or ad server may collect from you.
    </p>
    <h2>Use of Your Personal Information</h2>
    <p>
        PizzaVegan collects and uses your Personal Information to operate and improve the Website and better deliver the Services. 
        These uses may include performing analysis aimed at improving the Service; making the Website or Services more user 
        friendly by reducing the need for you to repeatedly enter the same information; and displaying advertising and content 
        that are tailored to your preferences and interests.
    </p>
    <p>
        PizzaVegan may support the Website and the Service by advertising, and accordingly, we may use some of the information 
        collected in order to customize the advertisements to your interests and preferences.
    </p>
    <p>
        We also use your Personal Information to communicate with you, such as providing you with mandatory notices or 
        discretionary notices about the Service. Personal information collected on PizzaVegan sites and services may be stored 
        and processed in the United States or any other country in which PizzaVegan or its affiliates, subsidiaries or agents 
        maintain facilities, and by using a PizzaVegan site or service, you consent to any such transfer of information outside 
        of your country.
    </p>
    <h2>Sharing of Your Personal Information</h2>
    <p>
        Your Personal Information will be used only by PizzaVegan and its controlled subsidiaries and affiliates. By accessing 
        your PizzaVegan Account, you may choose to share your Personal Information with select PizzaVegan partners so that they 
        can contact you about their respective products, services or offers.
    </p>
    <p>
        We share your Personal Information only with your consent or as described below:
    </p>
    <ul>
        <li class="font-serif">
            <em>Agents:</em> We may employ other companies and people to perform tasks on our behalf and need to share your information 
            with them to provide products or services to you. Unless we tell you differently, PizzaVegan’ agents do not have 
            any right to use Personal Information we share with them beyond what is necessary to assist us. You hereby consent 
            to our sharing of Personal Information for the above purposes.
        </li>
        <li class="font-serif">
            <em>Business Transfers:</em> In some cases, we may choose to buy or sell assets. In these types of transactions, your 
            Personal Information as a client of PizzaVegan is typically one of the business assets that is transferred. Moreover, 
            if PizzaVegan, or substantially all of its assets, were acquired, your Personal Information as a client of PizzaVegan 
            would be one of the assets that is transferred or acquired by a third party. By using or accessing the Service, you 
            acknowledge and agree that such transfers may occur, and that any acquirer of PizzaVegan may continue to use your Personal 
            Information as set forth in this policy.
        </li>
        <li class="font-serif">
            <em>Protection of PizzaVegan and Others:</em> We may release Personal Information when we believe, in good faith, that 
            such release is reasonably necessary to (i) comply with law, (ii) enforce or apply the terms of any of our user agreements, 
            or (iii) protect the rights, property or safety of PizzaVegan, our users, or others. This includes exchanging information 
            with other companies and organizations for fraud protection and credit risk reduction.
        </li>
    </ul>
    <h2>PizzaVegan’s Participation in Data Sharing and Benchmarking</h2>
    <p>
        Data sharing is the ability to share the same data resource with multiple applications or users. Shared data will be used 
        to improve the services PizzaVegan provides and can help create more powerful features for you to choose from. By accessing 
        the Website or the Services, you choose to participate in anonymous data sharing and, should PizzaVegan choose to use your 
        data for data sharing purposes. PizzaVegan can use this data to improve products and services we provide you and enable 
        benchmarking in your account.
    </p>
    <h2>Security of Your Personal Information</h2>
    <p>
        The personally identifiable information PizzaVegan collects is securely stored within our database, and we use standard, 
        industry-wide practices such as firewalls, encryption, and (in certain areas) Secure Socket Layers (“SSL”) for protecting 
        your information. However, as effective as encryption technology is, no security system is impenetrable. PizzaVegan cannot 
        guarantee the security of our database, nor can we guarantee that information you supply won't be intercepted while being 
        transmitted to PizzaVegan over the Internet. We recommend that you not disclose your password to anyone.
    </p>
    <h2>Collection and Use of Children's Personal Information</h2>
    <p>
        The Website and the Service are intended for general audiences, and PizzaVegan does not knowingly collect any personal 
        information from children.
    </p>
    <h2>Advertisements Displayed by Third Parties</h2>
    <p>
        PizzaVegan may allow third-party ad serving companies, including ad networks, to display advertisements on the Website. 
        Ad serving companies may place a persistent cookie on your computer in order to recognize your computer each time they 
        display an online advertisement to you, and as such, they may be able to compile information over time about whether you 
        reviewed or clicked on advertisements they display. These companies may use this information to display targeted 
        advertisements and may associate this information with your subsequent visits, purchases or other activities on participating 
        advertisers’ websites.
    </p>
    <h2>Comments Regarding this Privacy Policy</h2>
    <p>
        PizzaVegan welcomes your comments regarding this Privacy Policy. If you have questions regarding this Privacy Policy, 
        please contact us by e-mail at tracy@pmq.com.
    </p>
    <h2>Sole Statement of Privacy</h2>
    <p>
        This document contains and is the sole statement of PizzaVegan’ Privacy Policy. No summary, restatement or other version 
        thereof, or other privacy policy or statement, in any form, is valid.
    </p>
    <h2>Modifications of this Privacy Policy</h2>
    <p>
        PIZZAVEGAN MAY MODIFY THIS PRIVACY POLICY AT ANY TIME, IN PIZZAVEGAN’S SOLE DISCRETION, AND SUCH MODIFICATION SHALL BE 
        EFFECTIVE IMMEDIATELY UPON EITHER POSTING OF THE MODIFIED PRIVACY POLICY ON THE WEBSITE OR NOTIFYING YOU. YOU AGREE TO 
        REVIEW THIS PRIVACY POLICY PERIODICALLY TO ENSURE THAT YOU ARE AWARE OF ANY MODIFICATIONS. YOUR CONTINUED ACCESS OR USE 
        OF THE WEBSITE AND/OR THE SOFTWARE SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED PRIVACY POLICY.
    </p>
    <p><em>Last modified on June 14, 2021.</em></p>
</main>
{% endblock content %}