{% extends 'base.html' %}
{% load static %}

{% block title %} | Terms of Service{% endblock title %}

{% block content %}
<main class="mx-auto my-10 px-5 md:px-0 max-w-3xl prose">
    <h1>Terms of Service</h1>
    <p>
        By downloading, accessing, or using any part of the website https://pizzavegan.com/, you (the terms 
        “you”, “your” and/or “yours” includes the person or entity that is using the website as well as any 
        third parties accessing PizzaVegan on your behalf) agree to be bound by all of the following PizzaVegan 
        Terms of Service (the “Agreement”) and PizzaVegan’s Privacy Policy (which can be found at 
        <a href="{% url 'pages:privacy' %}">https://pizzavegan.com/privacy/</a> (The “Privacy Policy)) By visiting 
        the website or registering for an account (a “PizzaVegan Account”) you expressly accept the terms of this 
        agreement and the Privacy Policy. If you do not agree to the terms of either this agreement or the Privacy 
        Policy, you do not have PizzaVegan’s authorization to use any part of the website. PizzaVegan may modify this 
        agreement at any time, in its sole discretion. These changes become effective immediately upon posting and 
        your continued use or access of the website shall be deemed your conclusive acceptance of the modified agreement. 
        Please review these Terms of Service from time to time so that you will be apprised of any change.
    </p>
    <h2>1. Service Terms and Limitations</h2>
    <p>
        <strong>1.1 License; Proprietary Rights.</strong> The Service is proprietary to PizzaVegan and is protected by 
        intellectual property laws and international intellectual property treaties. Your access to the Service is 
        licensed and not sold. Subject to the terms of this Agreement and upon your registration for a PizzaVegan 
        Account, PizzaVegan hereby grants you a revocable, non-exclusive, non-transferable account enabling you to 
        access and use the Services and the Website. All PizzaVegan content that is made available to view and/or 
        download in connection with the Services is owned by and is the copyrighted work of PizzaVegan and/or its 
        suppliers and is licensed, not sold.
    </p>
    <p>
        Except for the limited licenses expressly granted herein, PizzaVegan expressly reserves all right, title and 
        interest in and to the Services, the content of the Website, and all processing and other software and 
        technology used by PizzaVegan in the provision of the Services (collectively, the "PizzaVegan Property"), 
        including, without limitation, any derivatives, improvements, enhancements or extensions of the PizzaVegan 
        Property conceived, reduced to practice or otherwise developed on or on behalf of PizzaVegan, all of which 
        are valuable assets of PizzaVegan, and any copyright, patent or trademark or other intellectual property right, 
        or federal or state right, pertaining thereto. All content on the Website, including text, graphics, logos, 
        icons, images, and video clips, is the exclusive property of PizzaVegan or its content suppliers and is protected 
        by U.S. and international copyright laws. The compilation (meaning the collection, arrangement, and assembly) of 
        all content on the Website is the exclusive property of PizzaVegan and is also protected by U.S. and international 
        copyright laws. The content on the Website may be used as a resource. Any other use, including the reproduction, 
        modification, distribution, transmission, republication, display, or performance, of the content on the Website 
        is strictly prohibited. Furthermore, you will not, nor will you allow or direct any third party (whether or not 
        for your benefit), to reproduce, modify, create derivative works from, display, perform, publish, distribute, 
        disseminate, broadcast, circulate or use any content on the Website without the express prior written consent of 
        PizzaVegan. Any unauthorized or prohibited use of the contents on the Website may subject you to civil liability, 
        criminal prosecution, or both, under applicable federal, state, and local laws.
    </p>
    <p>
        <strong>1.2 User's Agreement; Restrictions.</strong> You expressly agree: (i) that PizzaVegan has the right to 
        suspend and/or terminate your account and refuse any and all current or further use of the Services if PizzaVegan 
        determines, in its sole discretion, that any information you provide is untrue, inaccurate, not current and/or 
        incomplete; (ii) to protect your username and password at all times; (iii) to notify PizzaVegan immediately of any 
        unauthorized use of your account or any other need to deactivate your username and/or password due to security 
        concerns; and (iv) that PizzaVegan shall not be responsible for unauthorized access to or alteration of your data. 
        We are not liable for any harm caused or related to the theft or misappropriation of your username and/or password, 
        disclosure or your username and/or password, or your authorization of anyone else to use your username and/or 
        password. From time to time, PizzaVegan may find it necessary to access your account. In such event, PizzaVegan will, 
        if possible, provide you notice of its intent to use your username and password to do so. Regardless of whether such 
        notice is provided, you acknowledge and consent to such access. Furthermore, recognizing the global nature of the 
        Internet, you agree to comply with all local rules regarding online conduct and acceptable content. Specifically, you 
        agree to comply with all applicable laws regarding the transmission of technical data exported from the United States 
        or the country in which you reside and to comply with any other local laws affecting the transmission or posting of 
        content or affecting the privacy of persons.
    </p>
    <p>
        You shall not: (i) use, or allow the use of, the Services, except pursuant to the limited rights expressly granted 
        in this Agreement; (ii) use the Services in any manner that is inconsistent with user documentation, if any, supplied 
        to you by PizzaVegan or inconsistent with PizzaVegan’s standard security procedures, if any, accessible through your 
        user interface; (iii) attempt to reverse engineer, hack into, or compromise any aspect of the PizzaVegan Property, or 
        attempt to access data of any other customer of PizzaVegan; (iv) use, reproduce, modify or create derivative works of 
        the PizzaVegan Property; (v) remove, obscure or alter any legal notices, including notices of intellectual property 
        rights appearing in or on any materials delivered to you by PizzaVegan; (vi) use, post, transmit or introduce any 
        device, software or routine which interferes or attempts to interfere with the operation of the Services; (vii) 
        reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion or use of, or 
        access to, the Services; or (viii) transfer, lease, lend, sublicense, use for timesharing or service bureau purposes, 
        resell or otherwise distribute or allow third party access to all or any portion of the PizzaVegan Property, including, 
        but not limited to, sharing your access username and/or password.
    </p>
    <p>
        <strong>1.3 User Representations.</strong> You represent and warrant to PizzaVegan that: (i) you are over the age of 
        eighteen (18) and have the power and authority to enter into and perform your obligations under this Agreement; (ii) 
        all information provided by you to PizzaVegan is truthful, accurate and complete; (iii) you shall comply with all terms 
        and conditions of this Agreement; and (iv) you have provided and will provide accurate and complete registration 
        information, including, without limitation, your legal name, address and telephone number.
    </p>
    <p>
        <strong>1.4 Accessibility; Equipment.</strong> You acknowledge and agree that from time to time the Service may be 
        inaccessible or inoperable for any reason, including, without limitation: (i) equipment malfunctions; (ii) periodic 
        maintenance procedures or repairs which PizzaVegan may undertake from time to time; or (iii) causes beyond the control 
        of PizzaVegan or which are not reasonably foreseeable by PizzaVegan.
    </p>
    <p>
        You shall be solely responsible for providing, maintaining and ensuring compatibility with the Service, all hardware, 
        software, electrical and other physical requirements for your use of the Service, including, without limitation, 
        telecommunications and internet access connections and links, web browsers or other equipment, programs and services 
        required to access and use the Service.
    </p>
    <h2>2. PizzaVegan Event Participation</h2>
    <p>
        <strong>2.1 License and Ownership of Event Materials.</strong> From time to time, PizzaVegan may organize PizzaVegan 
        Events in which you may participate. PizzaVegan may record your participation at such PizzaVegan Event and request 
        your comments and/or testimonial regarding such event. You consent and agree that in your participation of a PizzaVegan 
        Event, PizzaVegan may use your name, likeness and biographical material, and any comments you provide to PizzaVegan 
        during such PizzaVegan Event (collectively, the “PizzaVegan Event Submitted Content”) for all media, including but not 
        limited to, print, video, electronic, internet, and digital formats whether now known or hereafter created (collectively, 
        the “Event Materials”), solely in connection with the promotion, advertising and marketing and/or distribution of 
        PizzaVegan, the Services and the PizzaVegan Events. You acknowledge and agree that any and all Event Materials developed 
        in connection with the any PizzaVegan Event shall be the sole and exclusive property of PizzaVegan and that you will not 
        receive a fee for PizzaVegan’s use of your PizzaVegan Event Submitted Content.
    </p>
    <p>
        <strong>2.2 Release and Waiver.</strong> You hereby release PizzaVegan, its affiliates, partners, directors, officers, 
        employees, agents, representatives, successors, and assigns (collectively, the “Affiliates”) from any and all liability, 
        from injury, loss or damage of any kind arising out of or resulting from your endorsement of a PizzaVegan Event and use 
        of your PizzaVegan Event Submitted Content. If requested, you agree to execute a release and waiver provided by 
        PizzaVegan in connection with your participation in any PizzaVegan Event. Furthermore, you hereby release PizzaVegan 
        and its Affiliates from any liability by virtue of any blurring, distortion, alteration, optical illusion, or use in 
        composite form, whether intentional or otherwise, that may occur or be produced, or any unintentional misspellings 
        or inaccuracies.
    </p>
    <p><strong>If you do not agree to this provision, please do not attend any PizzaVegan Events.</strong></p>
    <h2>3. On-Line Communications</h2>
    <p>
        <strong>3.1 Submitted Content.</strong> You are solely responsible for the information, and other content that you 
        upload, publish or display (hereinafter, "post") on the Website (collectively, the “Submitted Content”). You warrant, 
        represent and agree that you will not contribute any Submitted Content or otherwise use the Website in a manner that 
        (i) infringes the intellectual property rights or proprietary rights, or rights of publicity or privacy, of any third 
        party; (ii) violates any law, statute, ordinance or regulation; (iii) you should know is harmful, threatening, 
        abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, or otherwise objectionable; (iv) adversely 
        affects or reflects negatively on PizzaVegan’ goodwill, name or reputation or causes duress, distress or discomfort 
        to PizzaVegan or anyone else, or discourages any person, firm or enterprise from using all or any portion, feature, 
        or function of the Website, or from advertising, liking or becoming a supplier to use in connection with the Website; 
        (v) send or result in the transmission or junk e-mail, chain letters, duplicative or unsolicited messages, or so-called 
        “spamming”; (vi) transmit, distribute or upload programs or material that contain malicious code, such as viruses, 
        timebombs, cancelbots, worms, trojan horse, spyware, or other potentially harmful programs or other material or 
        information; (vii) falsely report to an employee or agent of PizzaVegan; (viii) circumvent, disable or otherwise 
        interfere with security-related features of the PizzaVegan website or its features that prevent or restrict use or 
        copying of any content; (ix) intercept or attempt to intercept email or other private communications not intended for 
        you; and/or (x) causes the Website to be used for commercial or business purposes, including, without limitation, 
        advertising, marketing, or offering goods or services, whether or not for financial or any other form of compensation 
        or through linking with any other website or web pages. While it is not the intent of PizzaVegan to discourage you 
        from reporting problems about the Services, nonetheless, PizzaVegan reserves the right to take such action as it 
        deems appropriate and/or to remove any content from the Website at any time, for any reason (including, but not limited 
        to, upon receipt of claims or allegations from third parties or authorities relating to such content or if PizzaVegan 
        is concerned that you may have breached the immediately preceding sentence), or for any reason at all.
    </p>
    <p>
        It is not the intent of PizzaVegan to discourage Users from taking controversial positions or expressing vigorously 
        what may be unpopular views in PizzaVegan, nonetheless, PizzaVegan reserves the right to take such action as it 
        deems appropriate in cases where PizzaVegan is used to disseminate statements which are deeply and widely offensive 
        and/or harmful. Each time you upload a file on PizzaVegan, you represent and warrant that you own or otherwise 
        control the rights or have the necessary consents to do so, and you grant every other User the right to download 
        and use such file. Your failure to observe any of the foregoing limitations or obligations may result in civil or 
        criminal liability.
    </p>
    <p>
        <strong>3.2 License Grant for Website Participation.</strong> Your participation in on-line communications 
        occurs in real time and is not edited, censored, or otherwise controlled by PizzaVegan. PizzaVegan cannot and does 
        not screen content provided by you or other users of the Website to PizzaVegan or through the Service. Notwithstanding 
        the foregoing, PizzaVegan reserves the right to monitor content on the Website and to remove content, which PizzaVegan, 
        in its sole discretion, determines to be harmful, offensive, or otherwise in violation of this Agreement or PizzaVegan's 
        operating policies for users of PizzaVegan ("Users"). Except as described herein, any Submitted Content which you 
        post (on any public area of PizzaVegan (e.g., comments, forums, etc.) is considered to be non-confidential. By placing 
        any information or other material on such publicly accessible locations on PizzaVegan (including but not limited to 
        posting messages, uploading files, inputting data or engaging in any other form of communication), you automatically 
        grant (or warrant that the owner of such content has expressly granted) to PizzaVegan a perpetual, royalty- free, 
        non-exclusive, irrevocable, unrestricted, worldwide license to use, copy, sublicense, reproduce, distribute, 
        redistribute, modify, adapt, publish, edit, translate, transmit, create derivative works of, publish and/or broadcast, 
        publicly perform or display any materials or other information (including without limitation, ideas contained therein 
        for new or improved products or services) you submit to public areas of PizzaVegan (including but not limited to chat 
        rooms, forums and bulletin boards) alone or as part of other works in any form, media, or technology whether by any 
        means and in any media now known or hereafter developed and to sublicense such rights through multiple tiers of sublicenses.
    </p>
    <h2>4. Other Sites</h2>
    <p>
        You are encouraged to use discretion while browsing the Internet using links initiated at PizzaVegan. PizzaVegan 
        links may lead unintentionally to sites containing information that some people may find inappropriate or offensive. 
        It may also lead to sites which contain inaccurate information, false or misleading advertising, or information which 
        violates copyright, libel or defamation laws. PizzaVegan make no representations concerning any effort to review all 
        of the content of sites listed in its Website.
    </p>
    <h2>5. Privacy Policy</h2>
    <p>
        PizzaVegan considers its Users' privacy to be of the utmost importance. Please see our Privacy Policy for a detailed 
        description of our information gathering and dissemination practices for PizzaVegan.com.
    </p>
    <h2>6. Copyright</h2>
    <p>
        The entire contents of the Website are copyrighted as a collective work under the laws of United States and other 
        copyright laws. PizzaVegan holds the copyright in the collective work. You may display and, subject to any expressly 
        stated restrictions or limitations relating to specific material, download portions of the material from the different 
        areas of PizzaVegan solely for your own non-commercial use, unless otherwise permitted. Any redistribution retransmission 
        or publication of any copyrighted material is strictly prohibited without the express written consent of the copyright 
        owner. You agree not to change or delete any proprietary notices from materials downloaded from PizzaVegan. You may not 
        use any PizzaVegan logo or any other proprietary graphic or trademark without PizzaVegan's express written permission.
    </p>
    <h2>7. Disclaimer</h2>
    <p>
        <strong>7.1 Disclaimer of Warranties.</strong> PizzaVegan does not represent or warrant that (a) the Services will 
        be error-free or accessible at all times, (b) defects will be corrected, (c) the Services or the server that makes it 
        available, are free of viruses or other harmful component, or (d) the use or the results of the use of the Services or 
        the materials made available as part of the Services will be correct, accurate, timely, or otherwise reliable. 
        PizzaVegan does not guarantee, and shall have no liability for, any Services down time (i) caused by outages to any 
        public Internet backbones, networks or servers, (ii) caused by any failures of your equipment, systems or local access 
        services, (iii) for previously scheduled maintenance, or (iv) relating to events beyond PizzaVegan’s control such as, 
        but not limited to, strikes, riots, insurrection, fires, floods, explosions, war, governmental action, labor conditions, 
        earthquakes, natural disasters, or interruptions in Internet services to an area where PizzaVegan or your servers are 
        located or co-located.
    </p>
    <p>
        CONTENT ON OR AVAILABLE THROUGH THE SERVICE ARE PROVIDED "AS IS" WITHOUT WARRANTY, EXPRESS OR IMPLIED. PIZZAVEGAN 
        HEREBY EXCLUDES ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR USE OR PURPOSE WITH RESPECT 
        TO THE SERVICE OR THE CONTENT. THERE ARE NO WARRANTIES WHICH EXTEND BEYOND THE DESCRIPTION ON THE FACE OF THIS 
        AGREEMENT. PIZZAVEGAN MAKES NO WARRANTY AS TO THE RELIABILITY, ACCURACY, TIMELINESS, USEFULNESS, ADEQUACY, COMPLETENESS 
        OR SUITABILITY OF THE SERVICE. PIZZAVEGAN CANNOT AND DOES NOT WARRANT AGAINST HUMAN AND MACHINE ERRORS, OMISSIONS, 
        DELAYS, INTERRUPTIONS OR LOSSES, INCLUDING LOSS OF DATA. PIZZAVEGAN CANNOT AND DOES NOT GUARANTEE OR WARRANT THAT FILES 
        AVAILABLE FOR DOWNLOADING FROM THIS ONLINE SITE WILL BE FREE OF INFECTION BY VIRUSES, WORMS, TROJAN HORSES OR OTHER CODE 
        THAT MANIFEST CONTAMINATING OR DESTRUCTIVE PROPERTIES. PIZZAVEGAN DOES NOT WARRANT OR GUARANTEE THAT THE FUNCTIONS OR 
        SERVICE ACCESSED THROUGH THE WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE WEBSITE WILL BE CORRECTED. 
        USERS OF THE WEBSITE ARE RESPONSIBLE FOR (1) IMPLEMENTING AND MAINTAINING ADEQUATE PROCEDURES AND CHECKPOINTS TO SATISFY 
        THEIR PARTICULAR REQUIREMENTS FOR ACCURACY OF DATA INPUT AND OUTPUT AND (2) MAINTAINING A MEANS EXTERNAL TO PIZZAVEGAN 
        FOR THE RECONSTRUCTION OF ANY LOST DATA. THIS DISCLAIMER OF WARRANTY CONSTITUTES AN ESSENTIAL PART OF THIS AGREEMENT.
    </p>
    <p>
        <strong>7.2 Disclaimer of Third Party Information.</strong> Statements made in the Website, newsgroups, message 
        boards, email, forums, conferences and chats reflect only the views of their authors. Forum managers, forum hosts, 
        content providers, or merchants appearing on the Website are not authorized PizzaVegan spokespersons, and their views 
        do not necessarily reflect those of PizzaVegan. You understand and acknowledge that you may be exposed to other clients’ 
        comments and third party content that may be offensive, indecent, inaccurate, or objectionable, and you agree to waive, 
        and hereby do waive, any legal or equitable rights or remedies you have or may have against PizzaVegan with respect 
        thereto. You are responsible for viewing and abiding by any privacy statements and terms of use posted in connection 
        with these links. You agree that the Services may include advertisements and that these advertisements are necessary 
        for PizzaVegan to provide the Services. You further understand that the Services may include certain communications 
        from PizzaVegan that you cannot opt out of receiving.
    </p>
    <h2>8. Indemnification</h2>
    <p>
        YOU AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS PIZZAVEGAN, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, INFORMATION 
        PROVIDERS AND SUPPLIERS FROM AND AGAINST ALL LOSSES, EXPENSES, DAMAGES AND COSTS, INCLUDING REASONABLE ATTORNEY'S 
        FEES, RESULTING FROM ANY VIOLATION OF THIS AGREEMENT OR ANY ACTIVITY RELATED TO YOUR ACCOUNT (INCLUDING INFRINGEMENT 
        OF THIRD PARTIES' WORLDWIDE INTELLECTUAL PROPERTY RIGHTS OR NEGLIGENT OR WRONGFUL CONDUCT) BY YOU OR ANY OTHER 
        PERSON ACCESSING PIZZAVEGAN USING YOUR SERVICE ACCOUNT.
    </p>
    <h2>9. Waiver, Release and Limitation of Liability</h2>
    <p>
        YOU AGREE THAT NEITHER PIZZAVEGAN, NOR ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS OR SUPPLIERS SHALL 
        HAVE ANY LIABILITY TO YOU UNDER ANY THEORY OF LIABILITY OR INDEMNITY IN CONNECTION WITH YOUR USE OF THE WEBSITE, 
        THE SERVICES, OR ANY PIZZAVEGAN PROPERTY. YOU SPECIFICALLY ACKNOWLEDGE THAT PIZZAVEGAN SHALL NOT BE LIABLE FOR 
        USER SUBMISSIONS OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM 
        OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU. YOU HEREBY RELEASE AND FOREVER WAIVE ANY AND ALL CLAIMS 
        YOU MAY HAVE AGAINST PIZZAVEGAN, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS OR SUPPLIERS (INCLUDING 
        BUT NOT LIMITED TO CLAIMS BASED UPON THE NEGLIGENCE OF PIZZAVEGAN, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, 
        LICENSORS OR SUPPLIERS) FOR LOSSES OR DAMAGES YOU SUSTAIN IN CONNECTION WITH YOUR USE OF THE WEBSITE OR THE SERVICES.
    </p>
    <p>
        IN RELEASING CLAIMS UNKNOWN TO THE UNDERSIGNED AT PRESENT, THE UNDERSIGNED WAIVES ALL RIGHTS AND BENEFITS UNDER 
        SECTION 1542 OF THE CALIFORNIA CIVIL CODE, AND ANY LAW OR LEGAL PRINCIPLE OF SIMILAR EFFECT IN ANY JURISDICTION: 
        <strong>“A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS 
        FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT 
        WITH THE DEBTOR.”</strong>
    </p>
    <p>
        NOTWITHSTANDING THE FOREGOING PARAGRAPH, THE TOTAL LIABILITY OF PIZZAVEGAN, ITS OFFICERS, DIRECTORS, EMPLOYEES, 
        AGENTS, INFORMATION PROVIDERS AND SUPPLIERS, IF ANY, FOR LOSSES OR DAMAGES SHALL NOT EXCEED THE FEES PAID BY THE 
        USER FOR THE PARTICULAR INFORMATION OR SERVICE PROVIDED. IN NO EVENT SHALL PIZZAVEGAN, ITS OFFICERS, DIRECTORS, 
        EMPLOYEES, AGENTS, INFORMATION PROVIDERS OR SUPPLIERS BE LIABLE TO YOU FOR ANY LOSSES OR DAMAGES OTHER THAN THE 
        AMOUNT REFERRED TO ABOVE. ALL OTHER DAMAGES, DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE 
        ARISING FROM ANY USE OF THE INFORMATION OR OTHER PARTS OF PIZZAVEGAN ARE HEREBY EXCLUDED EVEN IF PIZZAVEGAN ITS 
        OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, INFORMATION PROVIDERS OR SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY 
        OF SUCH DAMAGES.
    </p>
    <h2>10. Third Party Rights</h2>
    <p>
        The provisions of paragraphs 2.2 (Release and Waiver), 7 (Disclaimer), 8 (Indemnification) and 9 (Waiver, 
        Release and Limitation of Liability) are for the benefit of PizzaVegan and its officers, directors, employees, 
        agents, licensors, suppliers, and information providers. Each of these individuals or entities shall have the 
        right to assert and enforce those provisions directly against you on its own behalf.
    </p>
    <h2>11. Term; Termination</h2>
    <p>
        Either you or PizzaVegan may terminate this Agreement at any time and for any reason. In addition, this 
        Agreement will terminate immediately, without notice, if you fail to comply with the terms of this Agreement. 
        Upon any termination of this agreement, PizzaVegan will cease providing the Service.
    </p>
    <p>
        The provisions of paragraphs 1.2 (User's Agreement; Restrictions), 1.3 (User Representations), 2 (PizzaVegan 
        Event Participation), 3.2 (License Grant for Website Participation), 6 (Copyright), 7 (Disclaimer), 8 
        (Indemnification), 9 (Waiver, Release and Limitation of Liability), 10 (Third Party Rights), 14 (Miscellaneous), 
        and 15 (Notice) shall survive any termination of this Agreement.
    </p>
    <h2>12. Copyright or Intellectual Property Infringement Notification</h2>
    <p>
        PizzaVegan respects the intellectual property rights of others. You can notify PizzaVegan of possible copyright 
        infringement, and PizzaVegan will review all claims of copyright infringement received and remove content deemed 
        to have been posted or distributed in violation of any such laws. To make a claim, please provide the following:
    </p>
    <p>
        (i) A physical or an electronic signature of the person authorized to act on behalf of the owner of the copyright 
        or other intellectual property interest that is allegedly infringed;
    </p>
    <p>
        (ii) A description of the copyrighted work or other intellectual property that you claim has been infringed;
    </p>
    <p>
        (iii) A description of where the material that you claim is infringing is located on PIZZAVEGAN reasonably 
        sufficient to permit PizzaVegan to locate the material;
    </p>
    <p>
        (iv) Your contact information, including your address, telephone number, and email;
    </p>
    <p>
        (v) A statement by you that you have a good faith belief that use of the material in the manner complained of is 
        not authorized by the copyright owner, its agent, or the law; and
    </p>
    <p>
        (vi) A statement by you that the above information in your notice is accurate and that you, made under penalty 
        of perjury, are the copyright or intellectual property owner or authorized to act on the copyright or intellectual 
        property owner's behalf.
    </p>
    <p>
        Contact the agent designated to receive and act on copyright violations under the Digital Millennium Copyright 
        Act (“DMCA”). Claims can be sent to tracy@pmq.com.
    </p>
    <h2>13. Export Controls; U.S. Government Restricted Rights</h2>
    <p>
        You shall comply with all export laws and restrictions and regulations of the Department of Commerce, the United 
        States Department of Treasury Office of Foreign Assets Control (“OFAC”), or other United States or foreign 
        agency or authority, and not to export, or allow the export or re-export of the PizzaVegan Property in violation 
        of any such restrictions, laws or regulations. By downloading or using the Material, you are agreeing to the 
        foregoing and you are representing and warranting that you are not located in, under the control of, or a national 
        or resident of any restricted country or on any such list.
    </p>
    <h2>14. Miscellaneous</h2>
    <p>
        This Agreement shall be governed by and construed in accordance with the laws of the State of Mississippi. You 
        agree that any legal action or proceeding between PizzaVegan and you for any purpose concerning this Agreement 
        or the parties' obligations hereunder shall be brought exclusively in a court of competent jurisdiction sitting 
        in Lafayette County, Mississippi, United States. Any cause of action or claim you may have with respect to 
        PizzaVegan must be commenced within one (1) year after the claim or cause of action arises. PizzaVegan failure 
        to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver 
        of any provision or right. No waiver of any term, provision or condition of this Agreement, whether by conduct or 
        otherwise, in any one or more instances, shall be deemed to be, or shall constitute, a waiver of any other term, 
        provision or condition hereof, whether or not similar, nor shall such waiver constitute a continuing waiver of any 
        such term, provision or condition hereof. No waiver shall be binding unless executed in writing by the party making 
        the waiver. This Agreement constitutes the complete and exclusive statement of the agreement between the parties 
        with respect to the Service and supersedes any and all prior or contemporaneous communications, representations, 
        statements and understandings, whether oral or written, between the parties concerning the Service. If any action 
        in law or in equity is necessary to enforce the terms of this Agreement, the prevailing party will be entitled to 
        reasonable fees of attorneys, accountants, and other professionals, and costs and expenses in addition to any 
        other relief to which such prevailing party may be entitled. The provisions of this Agreement are severable, and 
        in the event any provision hereof is determined to be invalid or unenforceable, such invalidity or unenforceability 
        shall not in any way affect the validity or enforceability of the remaining provisions hereof. No provisions of 
        this Agreement are intended, nor will be interpreted, to provide or create any third party beneficiary rights or 
        any other rights of any kind in any user, client, customer, affiliate, or any party hereto or any other person 
        unless specifically provided otherwise herein, and except as so provided, all provisions hereof will be personal 
        solely between the parties to this Agreement; except that Sections 9, 10, and 11 is intended to benefit PizzaVegan 
        and its officers, directors, employees, agents, licensors, suppliers, and Information Providers. PizzaVegan may 
        assign its rights and duties under this Agreement to any party at any time without notice to you.
    </p>
    <h2>15. Notice</h2>
    <p>
        PizzaVegan may deliver notice to you under this Agreement by means of electronic mail, a general notice on the 
        Website, or by written communication delivered by first class U.S. mail to your address on record in PizzaVegan's 
        account information. You may give notice to PizzaVegan at any time via electronic mail to PizzaVegan to the 
        following address: tracy@pmq.com  ATTN: Member Service
    </p>
</main>
{% endblock content %}