{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard{% block dashboard_title %}{% endblock dashboard_title %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.37/dist/themes/base.css">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body class="relative h-full bg-coolgray-200">
    <div class="hidden md:block fixed inset-0 z-10 w-24 xl:w-72 bg-coolgray-800">
        <div class="h-20 px-6 flex flex-row items-center xl:items-center">
            <img src="{% static 'images/pizza-slice.png' %}" alt="PizzaVegan logo" class="h-10 xl:mr-2">
            <div class="hidden xl:flex flex-col justify-center">
                <p class="font-sans font-extralight text-white text-sm uppercase ">Dashboard</p>
                <p class="font-sans font-extrabold text-white text-xl">{{ customuser.company_name }}</p>
            </div>
        </div>
        <nav class="xl:pl-6 pt-12 flex flex-col items-center space-y-4">
            <a 
                href="{% url 'dashboard:dashboard_home' %}" 
                class="w-14 h-14 flex justify-center items-center rounded-full xl:block xl:w-full xl:h-auto 
                    xl:pl-6 xl:py-3 xl:rounded-tl-full xl:rounded-bl-full xl:rounded-tr-none xl:rounded-br-none 
                    text-white transition-colors duration-200 
                    {% if request.path == '/dashboard/' %}bg-brand{% else %}hover:bg-coolgray-900{% endif %}"
            >
                <i class="far fa-user inline-block xl:w-8 xl:mr-1 xl:text-center"></i><span class="hidden xl:inline">Profile</span>
            </a>
            <a 
                href="{% url 'dashboard:dashboard_store_locations' %}" 
                class="w-14 h-14 flex justify-center items-center rounded-full xl:block xl:w-full xl:h-auto 
                    xl:pl-6 xl:py-3 xl:rounded-tl-full xl:rounded-bl-full xl:rounded-tr-none xl:rounded-br-none 
                    text-white transition-colors duration-200
                    {% if request.path == '/dashboard/locations/' %}bg-brand{% else %}hover:bg-coolgray-900{% endif %}"
            >
                <i class="fas fa-map-marker-alt inline-block xl:w-8 xl:mr-1 xl:text-center"></i><span class="hidden xl:inline">Store Locations</span>
            </a>
            {% comment %} <a 
                href="{% url 'dashboard:dashboard_menu_items' %}" 
                class="w-14 h-14 flex justify-center items-center rounded-full xl:block xl:w-full xl:h-auto 
                    xl:pl-6 xl:py-3 xl:rounded-tl-full xl:rounded-bl-full xl:rounded-tr-none xl:rounded-br-none 
                    text-white transition-colors duration-200
                    {% if request.path == '/dashboard/menu-items/' %}bg-brand{% else %}hover:bg-coolgray-900{% endif %}"
            >
                <i class="fas fa-pizza-slice inline-block xl:w-8 xl:mr-1 xl:text-center"></i><span class="hidden xl:inline">Menu Items</span>
            </a>
            <a 
                href="{% url 'dashboard:dashboard_promotions' %}" 
                class="w-14 h-14 flex justify-center items-center rounded-full xl:block xl:w-full xl:h-auto 
                    xl:pl-6 xl:py-3 xl:rounded-tl-full xl:rounded-bl-full xl:rounded-tr-none xl:rounded-br-none 
                    text-white transition-colors duration-200
                    {% if request.path == '/dashboard/promotions/' %}bg-brand{% else %}hover:bg-coolgray-900{% endif %}"
            >
                <i class="fas fa-tags inline-block xl:w-8 xl:mr-1 xl:text-center"></i><span class="hidden xl:inline">Current Promotions</span>
            </a> {% endcomment %}
        </nav>
    </div>
    <div class="md:pl-24 xl:pl-72">
        <div class="h-20 px-8 flex flex-row justify-end items-center sticky top-0 bg-white shadow-md">
            <a 
                href="{% url 'account_logout' %}"
                class="px-6 py-2 rounded-full outline-none text-white text-sm bg-brand hover:bg-brand-dark focus:ring-2 
                    focus:ring-offset-2 focus:ring-brand-light focus:outline-none transition-colors duration-200"
            >
                <i class="fas fa-sign-out-alt inline-block w-6"></i>Logout
            </a>
        </div>
        <div class="w-full px-12">
            {% include 'partials/_alerts.html' %}
        </div>
        <main class="lg:px-10 lg:py-8">
            {% block content %}{% endblock content %}
        </main>
    </div>

    <!-- HAMBURGER TOGGLE -->
    <button class="fixed bottom-6 right-6 h-16 w-16 flex justify-center items-center
        md:hidden bg-white rounded-full border border-gray-100 shadow-md mobile-menu-open
        focus:outline-none focus:ring-2 focus:ring-gray-300 z-20">
        <i class="fas fa-bars text-3xl text-gray-600"></i>
    </button>

    <!-- MOBILE MENU -->
    <sl-drawer placement="left" class="hidden mobile-menu">
        <div slot="label" class="flex items-center space-x-4">
            <a href="{% url 'pages:home' %}">
                <img src="{% static 'images/pizzavegan-main-logo.svg' %}" alt="" class="h-12">
            </a>
        </div>
        <div class="flex flex-col space-y-6 px-6">
            <a href="{% url 'dashboard:dashboard_home' %}" class="text-gray-600 text-xl">Profile</a>
            <a href="{% url 'dashboard:dashboard_store_locations' %}" class="text-gray-600 text-xl">Store Locations</a>
            {% comment %} <a href="{% url 'dashboard:dashboard_menu_items' %}" class="text-gray-600 text-xl">Menu Items</a>
            <a href="{% url 'dashboard:dashboard_promotions' %}" class="text-gray-600 text-xl">Promotions</a> {% endcomment %}
        </div>
        <button slot="footer" class="fixed bottom-6 right-6 h-16 w-16 flex justify-center items-center
            rounded-full bg-white border border-gray-100 shadow-md focus:outline-none focus:ring-2
            focus:ring-gray-300 mobile-menu-close">
            <i class="fas fa-arrow-left text-3xl text-gray-600"></i>
        </button>
    </sl-drawer>

    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.37/dist/shoelace.js"
    ></script>
    <script src="https://kit.fontawesome.com/bcdd1ea5a6.js" crossorigin="anonymous"></script>
    <script>
        const drawer = document.querySelector(".mobile-menu");
        const openButton = document.querySelector(".mobile-menu-open");
        const closeButton = document.querySelector(".mobile-menu-close");

        openButton.addEventListener("click", () => drawer.show());
        closeButton.addEventListener("click", () => drawer.hide());

        window.onload = function showMobileMenu() {
            drawer.classList.remove("hidden");
        }
    </script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>