{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard{% block dashboard_title %}{% endblock dashboard_title %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;800&family=Lora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.37/dist/themes/base.css">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body class="flex flex-row h-full">
    <div class="w-1/6 min-w-max h-full bg-gray-700">
        <div class="h-20 px-6 flex items-center border-b border-gray-500">
            <img src="{% static 'images/pizza-slice.png' %}" alt="PizzaVegan logo" class="h-10">
            <div class="flex flex-col justify-center">
                <p class="font-sans font-extrabold text-white text-xl">Pizzeria Name</p>
                <p class="font-sans font-extralight text-white text-sm uppercase ">Dashboard</p>
            </div>
        </div>
        <nav class="pl-6 pt-12 flex flex-col space-y-4">
            <a 
                href="{% url 'dashboard:dashboard_home' %}" 
                class="pl-6 py-3 rounded-tl-full rounded-bl-full text-white transition-colors duration-200 
                    {% if request.path == '/dashboard/' %}bg-brand{% else %}hover:bg-gray-800{% endif %}"
            >
                <i class="far fa-user mr-3"></i>Profile
            </a>
            <a 
                href="{% url 'dashboard:dashboard_store_locations' %}" 
                class="pl-6 py-3 rounded-tl-full rounded-bl-full text-white transition-colors duration-200
                    {% if request.path == '/dashboard/locations/' %}bg-brand{% else %}hover:bg-gray-800{% endif %}"
            >
                <i class="fas fa-map-marker-alt mr-3"></i>Store Locations
            </a>
            <a 
                href="{% url 'dashboard:dashboard_menu_items' %}" 
                class="pl-6 py-3 rounded-tl-full rounded-bl-full text-white transition-colors duration-200
                    {% if request.path == '/dashboard/menu-items/' %}bg-brand{% else %}hover:bg-gray-800{% endif %}"
            >
                <i class="fas fa-pizza-slice mr-3"></i>Menu Items
            </a>
            <a 
                href="{% url 'dashboard:dashboard_promotions' %}" 
                class="pl-6 py-3 rounded-tl-full rounded-bl-full text-white transition-colors duration-200
                    {% if request.path == '/dashboard/promotions/' %}bg-brand{% else %}hover:bg-gray-800{% endif %}"
            >
                <i class="fas fa-tags mr-3"></i>Current Promotions
            </a>
        </nav>
    </div>
    <main class="w-5/6">
        <div class="h-20 px-8 flex flex-row justify-end items-center bg-gray-200">
            <a 
                href="{% url 'account_logout' %}"
                class="px-4 py-2 bg-white text-brand rounded-lg tracking-wide border-2 border-brand
                    hover:bg-brand hover:text-white transition-colors duration-200"
            >
                <i class="fas fa-sign-out-alt mr-2"></i>Logout
            </a>
        </div>
        <div class="w-full px-12">
            {% include 'partials/_alerts.html' %}
        </div>
        {% block content %}{% endblock content %}
    </main>

    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.37/dist/shoelace.js"
    ></script>
    <script src="https://kit.fontawesome.com/bcdd1ea5a6.js" crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>