{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard_title %} | Home{% endblock dashboard_title %}

{% block content %}
<section class="max-w-6xl px-4 pt-2 pb-10 lg:px-10 lg:py-8 space-y-10 bg-white lg:border lg:border-coolgray-200 lg:rounded-lg lg:shadow-lg">
    <div class="flex flex-row justify-center lg:justify-between items-center">
        <div class="flex flex-col lg:flex-row items-center">
            {% if customuser.pizzeria_logo %}
                <img 
                    src="{{ customuser.pizzeria_logo.url }}" 
                    alt="{{ customuser.company_name }} logo" 
                    class="max-w-xs mb-4 lg:mb-0 lg:max-w-sm lg:mr-12"
                >
            {% else %}
                <h3 class="ml-6 mr-10 px-4 py-3 text-gray-500 rounded-md border border-gray-400">No logo selected</h3>
            {% endif %}
            <div class="text-center">
                <h2 class="text-4xl text-gray-700">{{ customuser.company_name }}</h2>
                <p class="font-sans font-extralight text-lg text-gray-700">{{ customuser.email }}</p>
            </div>
        </div>
        <a 
            href="{% url 'dashboard:dashboard_update_profile' %}"
            class="hidden lg:inline-block px-6 py-2 rounded-full outline-none text-white text-sm bg-brand hover:bg-brand-dark  
                    focus:ring-2 focus:ring-offset-2 focus:ring-brand-light focus:outline-none transition-colors duration-200"
        >
            <i class="fas fa-edit inline-block w-6"></i>Edit Profile
        </a>
    </div>
    <div>
        <p class="font-sans font-extralight text-sm text-gray-700 uppercase">Contact Name</p>
        <p class="font-sans lg:text-lg xl:text-xl text-gray-700">
            {% if customuser.first_name or customuser.last_name %}
                {{ customuser.first_name }} {{ customuser.last_name }}
            {% else %}
                No name entered
            {% endif %}
        </p>
    </div>
    <div>
        <p class="mt-6 font-sans font-extralight text-sm text-gray-700 uppercase">Pizzeria Bio/Description</p>
        <p class="font-sans lg:text-lg xl:text-xl text-gray-700">
            {% if customuser.description %}
                {{ customuser.description }}
            {% else %}
                No description entered
            {% endif %}
        </p>
    </div>
    <div>
        <p class="mt-6 font-sans font-extralight text-sm text-gray-700 uppercase">Online Ordering Link</p>
        <p class="font-sans lg:text-lg xl:text-xl text-gray-700">
            {% if customuser.online_ordering %}
                {{ customuser.online_ordering }}
            {% else %}
                No online ordering link entered
            {% endif %}
        </p>
    </div>

    <div>
        <p class="mt-6 font-sans font-extralight text-sm text-gray-700 uppercase">Social Media Links</p>
        <div class="mt-4 mb-12 flex flex-col space-y-3">
            <div class="flex flex-row items-center">
                <i class="fab fa-facebook inline-block w-12 text-center text-gray-700 text-2xl"></i>
                {% if customuser.facebook %}
                    <p class="font-sans text-gray-700">{{ customuser.facebook }}</p>
                {% else %}
                    <p class="font-sans text-gray-500">No Facebook link entered</p>
                {% endif %}
            </div>
            <div class="flex flex-row items-center">
                <i class="fab fa-twitter inline-block w-12 text-center text-gray-700 text-2xl"></i>
                {% if customuser.twitter %}
                    <p class="font-sans text-gray-700">{{ customuser.twitter }}</p>
                {% else %}
                    <p class="font-sans text-gray-500">No Twitter link entered</p>
                {% endif %}
            </div>
            <div class="flex flex-row items-center">
                <i class="fab fa-instagram inline-block w-12 text-center text-gray-700 text-2xl"></i>
                {% if customuser.instagram %}
                    <p class="font-sans text-gray-700">{{ customuser.instagram }}</p>
                {% else %}
                    <p class="font-sans text-gray-500">No Instagram link entered</p>
                {% endif %}
            </div>
            <div class="flex flex-row items-center">
                <i class="fab fa-tiktok inline-block w-12 text-center text-gray-700 text-2xl"></i>
                {% if customuser.tiktok %}
                    <p class="font-sans text-gray-700">{{ customuser.tiktok }}</p>
                {% else %}
                    <p class="font-sans text-gray-500">No Tiktok link entered</p>
                {% endif %}
            </div>
            <div class="flex flex-row items-center">
                <i class="fab fa-youtube inline-block w-12 text-center text-gray-700 text-2xl"></i>
                {% if customuser.youtube %}
                    <p class="font-sans text-gray-700">{{ customuser.youtube }}</p>
                {% else %}
                    <p class="font-sans text-gray-500">No Youtube link entered</p>
                {% endif %}
            </div>
        </div>
    </div>
    <a 
        href="{% url 'dashboard:dashboard_update_profile' %}"
        class="lg:hidden px-6 py-2 rounded-full outline-none text-white text-sm bg-brand hover:bg-brand-dark focus:ring-2 
                focus:ring-offset-2 focus:ring-brand-light focus:outline-none transition-colors duration-200"
    >
        <i class="fas fa-edit inline-block w-6"></i>Edit Profile
    </a>
</section>
{% endblock content %}