{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard_title %} | Edit Store Location{% endblock dashboard_title %}

{% block content %}
<section class="max-w-4xl px-4 pt-2 pb-10 lg:px-10 lg:py-8 bg-white lg:border lg:border-coolgray-200 lg:rounded-lg lg:shadow-lg">
    <p class="font-sans font-extralight uppercase">Edit store location</p>
    <h2 class="pb-2 text-2xl text-coolgray-700 border-b border-coolgray-300">{{ pizzerialocation.full_address }}</h2>
    <form method="post" class="flex flex-col mt-8 mb-6">
        {% csrf_token %}
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
            <div>
                <label for="{{ form.street_address1.id_for_label }}" class="font-sans text-coolgray-600">Street Address</label>
                {{ form.street_address1 }}
                {% if form.street_address1.errors %}
                    {% for error in form.street_address1.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">Street Address:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <label for="{{ form.street_address2.id_for_label }}" class="font-sans text-coolgray-600">Street Address 2</label>
                {{ form.street_address2 }}
                {% if form.street_address2.errors %}
                    {% for error in form.street_address2.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">Street Address 2:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <div>
                <label for="{{ form.city.id_for_label }}" class="font-sans text-coolgray-600">City</label>
                {{ form.city }}
                {% if form.city.errors %}
                    {% for error in form.city.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">City:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <label for="{{ form.state.id_for_label }}" class="font-sans text-coolgray-600">State</label>
                {{ form.state }}
                {% if form.state.errors %}
                    {% for error in form.state.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">State:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <label for="{{ form.zip_code.id_for_label }}" class="font-sans text-coolgray-600">Zip Code</label>
                {{ form.zip_code }}
                {% if form.zip_code.errors %}
                    {% for error in form.zip_code.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">Zip Code:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div>
            <label for="{{ form.phone.id_for_label }}" class="font-sans text-coolgray-600">Phone</label>
            {{ form.phone }}
            {% if form.phone.errors %}
                {% for error in form.phone.errors %}
                    <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                        <span class="font-bold">Phone:</span> {{ error|escape }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="my-2 flex flex-row gap-8">
            <div class="flex flex-row items-center">
                {{ form.dine_in }}
                <label for="{{ form.dine_in.id_for_label }}" class="ml-2 font-sans text-coolgray-600">Dine In</label>
                {% if form.dine_in.errors %}
                    {% for error in form.dine_in.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">Dine In:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="flex flex-row items-center">
                {{ form.carry_out }}
                <label for="{{ form.carry_out.id_for_label }}" class="ml-2 font-sans text-coolgray-600">Carry Out</label>
                {% if form.carry_out.errors %}
                    {% for error in form.carry_out.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">Carry Out:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="flex flex-row items-center">
                {{ form.delivery }}
                <label for="{{ form.delivery.id_for_label }}" class="ml-2 font-sans text-coolgray-600">Delivery</label>
                {% if form.delivery.errors %}
                    {% for error in form.delivery.errors %}
                        <p class="mb-4 mx-5 px-4 py-2 rounded-md font-sans border border-red-500 border-l-4 text-red-500">
                            <span class="font-bold">Delivery:</span> {{ error|escape }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
        <div class="mt-5 mb-2 flex flex-col space-y-4 sm:flex-row sm:items-center sm:space-x-5 sm:space-y-0">
            <button
                type="submit"
                id="update-submit"
                class="w-max px-6 py-2 rounded-full outline-none text-white text-sm bg-brand hover:bg-brand-dark focus:ring-2 
                        focus:ring-offset-2 focus:ring-brand-light focus:outline-none transition-colors duration-200"
            >
                <i class="fas fa-edit inline-block w-8"></i>Update Store Location
            </button>
            <a 
                href="{% url 'dashboard:dashboard_store_locations' %}" 
                class="font-sans text-coolgray-500 text-sm hover:text-brand hover:underline"
            >
                Cancel and return to store locations
            </a>
        </div>
    </form>
</section>
{% endblock content %}

{% block extra_js %}
<script>
    const submitButton = document.getElementById("update-submit");
    submitButton.addEventListener("click", e => {
        submitButton.disabled = true;
        submitButton.innerText = "Please wait...";
    });
</script>
{% endblock extra_js %}