@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .hero {
        background: linear-gradient(
                to bottom right,
                rgba(234, 88, 12, 0.3),
                rgba(234, 88, 12, 0.3)
            ),
            url(/static/images/pizzavegan-banner-2.jpg) no-repeat center center;
        background-size: cover;
    }

    .hero__heading,
    .hero__subtitle {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .hero__heading {
        font-size: calc(2.5rem + 2.25vw);
        font-weight: 800;
        line-height: 3.5rem;
    }

    .hero__subtitle {
        font-size: calc(1.25rem + 1.25vw);
    }

    .alert {
        @apply w-full px-3 py-2 bg-white font-sans;
    }

    .alert-error {
        @apply text-red-600 border-red-600 border border-l-4
    }

    .btn {
        @apply px-5 py-2 uppercase tracking-wider text-white outline-none focus:outline-none duration-200;
    }

    .nav__dropdown {
        @apply absolute top-full left-0 w-max px-5 py-4 space-y-3 bg-gray-600 z-50;
    }

    nav li:hover > .nav__dropdown {
        @apply block;
    }

    .card__image {
        @apply w-full rounded-t bg-center;
        height: calc(250px + 4vw);
        object-fit: cover;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-bold text-gray-800;
    }

    p {
        @apply font-serif text-gray-800;
    }
}
