@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    footer {
        margin-top: auto;
    }

    .hero {
        background: linear-gradient(
                to bottom right,
                rgba(234, 88, 12, 0.3),
                rgba(234, 88, 12, 0.3)
            ),
            url(/static/images/pizzavegan-banner-2.jpg) no-repeat center center;
        background-size: cover;
    }

    .hero__heading,
    .hero__subtitle {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .hero__heading {
        font-size: calc(2.5rem + 2.25vw);
        font-weight: 800;
        line-height: 3.5rem;
    }

    .hero__subtitle {
        font-size: calc(1.25rem + 1.25vw);
    }

    .alert {
        @apply w-full px-3 py-2 bg-white font-sans;
    }

    .alert-error {
        @apply text-red-600 border-red-600 border border-l-4
    }

    .btn {
        @apply px-5 py-2 rounded uppercase tracking-wider text-white outline-none focus:outline-none duration-200;
    }

    .nav__dropdown {
        @apply absolute top-full left-0 w-max px-3 py-4 space-y-3 bg-white border border-gray-200 rounded shadow-md z-50;
    }

    .nav__dropdown-right {
        @apply absolute top-full right-0 w-max px-3 py-4 space-y-3 bg-white border border-gray-200 rounded shadow-md z-50;
    }

    nav li:hover > .nav__dropdown,
    nav li:hover > .nav__dropdown-right {
        @apply block;
    }

    .card__image {
        @apply w-full rounded-t bg-center;
        height: calc(250px + 4vw);
        object-fit: cover;
    }

    .post__featured-image {
        margin: 1.75rem 0;
    }

    .responsive-image {
        width: 100%;
        max-height: calc(375px + 20vw);
        object-fit: cover;
        object-position: 50% 50%;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-bold text-gray-800;
    }

    p {
        @apply font-serif text-gray-800;
    }
}
