{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block title %} | {{ self.title }}{% endblock title %}

{% block body_class %}template-productlistpage{% endblock %}

{% block content %}
    <div class="page-heading">
        <img src="{% static 'images/pizza-slice.png' %}" class="page-heading__image" alt="PizzaVegan Slice Logo">
        <h2 class="page-heading__title">Products</h2>
        <p class="page-heading__subtitle">
            Eating vegan is easier than ever. With a plethora of products continuously emerging in this fast-growing
            category, consumers and restaurant owners alike can find more options than ever to satisfy their taste buds.
            Whether you’re seeking plant-based meat and dairy alternatives or pantry staples, we’ve got you covered.
        </p>
    </div>
    <main>
        <div class="post-grid">
            {% for product in product_pages %}
                {% with product=product.specific %}
                    <div class="card">
                        <a href="{% pageurl product %}">
                            {% image product.featured_image width-450 class="card__image" %}
                        </a>
                        <div class="card__body">
                            <a href="{% pageurl product %}">
                                <h3 class="card__title">{{ product.title }}</h3>
                            </a>
                            <p class="card__meta">Posted on {{ product.first_published_at|date:'F j, Y' }}</p>
                            <p class="card__subtitle">{{ product.subtitle }}</p>
                        </div>
                    </div>
                {% endwith %}
            {% empty %}
                <p>Sorry, there are no products at this time.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}